@use "../abstracts/" as *;

/* buttons */
.button {
    @include flex(rem(8));
    align-items: center;

    width: fit-content;

    font-size: $font-size-300;

    padding: rem(12) rem(43);

    background-color: $clr-cta-200;
    color: $clr-primary-100;

    border: none;
    border-radius: rem(4);

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $clr-cta-100;
    }

    &--icon {
        padding: rem(12) rem(16);

        // button text
        > span {
            display: none;
        }

        @include mq-min($medium-screen-size) {
            > span {
                display: block;
            }
        }
    }
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;

    &__svg-icon:hover,
    &:focus-within {
        // cta color 200
        filter: brightness(0) saturate(100%) invert(72%) sepia(55%) saturate(5419%) hue-rotate(330deg) brightness(91%) contrast(97%);
    }
}

.burger-menu {
    --_burger-size: #{rem(72)};
    
    background: $clr-neutral-500 url("/img/icon-menu.svg") no-repeat center;

    width: var(--_burger-size);
    aspect-ratio: 1;

    border: none;
    cursor: pointer;

    &[aria-expanded=true] {
        background: $clr-neutral-500 url("/img/icon-close.svg") no-repeat center;;
    }

    &:hover,
    &:focus-visible {
        background-color: $clr-cta-200;
    }
}