@use "../abstracts/" as *;

.preview-code-block {
    display: grid;
    margin: 0;
    border-radius: rem(4);
    padding: rem(24) rem(32);
    background-color: $clr-primary-200;
    color: $clr-darker-text;
}


.inline-code {
    font-family: $font-family-markdown;
    color: $clr-darker-text;
}