@use "../abstracts/" as *;

.file-rename {
    @include flex();
    align-items: center;
    
    font-weight: $font-weight-light;

    color: $clr-neutral-300;

    &__interactable {
        font-size: $font-size-100;
        --gap: rem(3);

        &--foldable {
            > label {
                font-size: $font-size-100;
                display: none;
            }

            @include mq-min($small-screen-size) {
                > label {
                    display: block;
                }
            }
        }
    }

    &__input {
        font-weight: $font-weight-regular;
        font-size: $font-size-300;

        padding-bottom: rem(5);

        background: none;
        border: none;
        
        color: $clr-primary-100;
        caret-color: $clr-cta-200;

        &:focus {
            outline: none;
            border-bottom: 2px solid $clr-primary-100;
            margin-bottom: -2px;
        }
    }
}

.markdown-input-area {
    font-size: $font-size-200;

    width: 100%;
    height: 100%;

    resize: none;
    border: none;

    padding: rem(8) rem(16);


    &:focus {
        outline: none;
    }
}