
@use "../abstracts/" as *;


.modal {
    margin-block: 0;

    width: min(rem(430), 90%);
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;

    border-radius: 4px;
    padding: rem(24);
    border: none;

    background-color: $clr-primary-100;


    &__button {
        width: 100%;
        justify-content: center;
    }   
}


::backdrop {
   background-color: hsla(0, 0%, 0%, 0.23);
}


