@use "../abstracts/" as *;

/* color utilities */
.clr-primary-100 {
    color: $clr-primary-100; 
}

.clr-neutral-500 {
    color: $clr-neutral-500;
}

.clr-neutral-400 {
    color: $clr-neutral-400;
}

.clr-neutral-300 {
    color: $clr-neutral-300;
}

.clr-markdown-preview {
    color: $clr-markdown-preview;
}

.clr-markdown-code {
    color: $clr-markdown-code;
}

.bg-primary-100 {
    background-color: $clr-primary-100;
}

.bg-neutral-600 {
    background-color: $clr-neutral-600;
}