@use "../abstracts/" as *;

/* typography utilities */
.font-ui {
    font-family: $font-family-ui;
}

.font-preview {
    font-family: $font-family-preview;
}

.font-markdown {
    font-family: $font-family-markdown;
}

.font-weight-bold {
    font-weight: $font-weight-bold;
}

.font-weight-medium {
    font-weight: $font-weight-medium;
}

.font-weight-regular {
    font-weight: $font-weight-regular;
}

.font-weight-light {
    font-weight: $font-weight-light;
}

.font-size-200 {
    font-size: $font-size-200; 
}

.line-height {
    line-height: $line-spacing;
}