@use "../abstracts/" as *;

/* general */
html {
    height: 100%;
}


body {
    --clr-markdown-header: var(--clr-primary-200);
    --clr-section-devider: var(--clr-neutral-100);
    --clr-app-bg: var(--clr-primary-100);
    --clr-markdown-code: var(--clr-neutral-500);
    --clr-markdown-preview:   var(--clr-neutral-300);
    --clr-markdown-accent: var(--clr-markdown-code);
    --clr-text-block-bg: var(--clr-primary-200);

    position: relative;
    overflow-x: hidden;

    font-family: $font-family-ui;
    font-size: $font-size-300;
    color: $clr-primary-100;
    background-color: $clr-app-bg;
}


.main-flex-container {
    overflow-y: hidden;
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
}


.dark-mode {
    --clr-section-devider: var(--clr-neutral-400);
    --clr-markdown-header: var(--clr-neutral-700);
    --clr-app-bg: var(--clr-neutral-800);
    --clr-markdown-code: var(--clr-neutral-200);
    --clr-markdown-preview: var(--clr-neutral-200);
    --clr-markdown-accent: var(--clr-primary-100);
    --clr-text-block-bg: var(--clr-neutral-600);
}


.app-main {
    display: grid;
    grid-template-rows: auto 1fr;

    height: 100vh;
    flex: 1;

    overflow-y: scroll;
}


.bg-text-block {
    display: grid;

    margin: 0;
    padding: rem(24) rem(32);

    background-color: $clr-text-block-bg;
    color: $clr-markdown-accent;

    border-radius: rem(4);

    &--border {
        border-left: 4px solid $clr-cta-100;
    }
}


.inline-code {
    font-family: $font-family-markdown;
    color: $clr-markdown-code;
}


.markdown {
    &-section-header {
        container-type: inline-size;

        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: $clr-markdown-header;
        color: $clr-markdown-preview;
        padding: rem(12) rem(16);


        &__toggle-preview {
            width: rem(24);
            height: rem(24);

            padding: 0;

            background: url("/img/icon-show-preview.svg") no-repeat center;
            background-size: contain;

            border: none;
            cursor: pointer;


            &[data-toggle=hide] {
                background: url("/img/icon-hide-preview.svg") no-repeat center;
                background-size: contain;
            }


            &[data-from=input] {
                visibility: visible;

                // hide toggle from input section on larger devices
                @include mq-min($medium-screen-size) {
                    visibility: hidden;
                }
            }


            &:hover,
            &:focus {
                // cta color 200
                filter: brightness(0) saturate(100%) invert(72%) sepia(55%) saturate(5419%) hue-rotate(330deg) brightness(91%) contrast(97%);
            }
        }

        > span {
            letter-spacing: 2px;
        }
    }
}
