@use "../abstracts/" as *;

/* general */
html {
    height: 100%;
}


body {
    display: flex;
    align-items: start;
    flex-direction: row-reverse;

    overflow-x: hidden;

    font-family: $font-family-ui;
    font-size: $font-size-300;
    color: $clr-primary-100;
    background-color: $clr-app-bg;
}


.dark-mode {
    --clr-app-bg: var(--clr-neutral-800);
    --clr-body-accent: var(--clr-primary-100);
    --clr-body-default: var(--clr-neutral-200);
    --clr-text-block-bg: var(--clr-neutral-600);
}


.app-main {
    display: grid;
    grid-template-rows: auto 1fr;

    height: 100vh;
    flex: 1;

    overflow-y: scroll;

}


.bg-text-block {
    display: grid;

    margin: 0;
    padding: rem(24) rem(32);

    background-color: $clr-text-block-bg;
    color: $clr-body-accent;

    border-radius: rem(4);

    &--border {
        border-left: 4px solid $clr-cta-100;
    }
}


.inline-code {
    font-family: $font-family-markdown;
    color: $clr-body-accent;
}


.markdown {
    &-section-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: $clr-primary-200;
        color: $clr-neutral-300;
        padding: rem(12) rem(16);


        &__toggle-preview {
            width: rem(24);
            height: rem(24);

            padding: 0;

            background: url("/img/icon-show-preview.svg") no-repeat center;
            background-size: contain;

            border: none;
            cursor: pointer;


            &[data-toggle=hide] {
                background: url("/img/icon-hide-preview.svg") no-repeat center;
                background-size: contain;
            }


            &[data-from=input] {
                visibility: visible;

                // hide toggle from input section on larger devices
                @include mq-min($medium-screen-size) {
                    visibility: hidden;
                }
            }
        }


        > span {
            letter-spacing: 2px;
        }

    }
}


.showcase {
    padding-block: 2rem;
    display: grid;
    gap: 2rem;
}

