$colors: (
    primary: (
        200: hsl(0, 0%, 96%),
        100: hsl(0, 0%, 100%),
    ),
    neutral: (
        800: hsl(225, 9%, 9%),
        700: hsl(216, 8%, 12%),
        600: hsl(220, 7%, 18%),
        500: hsl(216, 9%, 23%),
        400: hsl(216, 8%, 38%),
        300: hsl(213, 4%, 51%),
        200: hsl(222, 9%, 78%),
        100: hsl(0, 0%, 89%),
    ),
    cta: (
        200: hsl(13, 75%, 58%),
        100: hsl(21, 86%, 67%),
    ),
)