@use "../abstracts/" as *;

.aside {
    display: none;
    justify-content: start;
    align-content: space-between;

    width: min(rem(270), 90%);
    min-height: 100vh;

    padding: rem(27) rem(24);


    &__top {
        --gap: #{rem(27)};
    }

    &__main {
        --gap: #{rem(24)};
    }

    &__document-list > li {
        cursor: pointer;
    }

    &--opened {
        @include grid(rem(27));
    }


    @include mq-min($medium-screen-size) {
        &__logo {
            display: none;
        }
    }
}